<ng-container *ngIf="library === 'ngxs'">
  <img src="../../assets/ngxs.png" alt="NGXS Logo" />
  <br />
  <p>
    NGXS is a state management pattern + library for Angular. It acts as a
    single source of truth for your application's state, providing simple rules
    for predictable state mutations.
  </p>
</ng-container>
<ng-container *ngIf="library === 'material'">
  <img src="../../assets/material.png" alt="Angular Material Logo" />
  <br />
  <p>Material Design components for Angular.</p>
</ng-container>
<ng-container *ngIf="library === 'immer'">
  <img src="../../assets/immer.png" alt="Immer Logo" />
  <br />
  <p>Open source tool for manipulating with immutable data structures</p>
</ng-container>
